body {
  padding: 0;
  margin: 0;
  background: #050210;
}

.ring-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ring {
  width: min(90vw, 500px);
  /* Adjust the size of the ring based on viewport width, with a maximum of 500px*/
  height: min(90vw, 500px);
  background: black;
  position: relative;
  border-radius: 50%;
}

.ring:before,
.ring:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* Use 100% to match the size of the .ring element */
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(45deg, #fb5dad, #55fb9f, #b97aff);
  transform: scale(1.2);
  /* Scale up the gradient to create a glowing effect around the ring */
  z-index: -2;
  /* Ensure the gradient is behind the blurred version */
  animation: animate 0.5s linear infinite;
}

.ring:after {
  filter: blur(70px);
  z-index: -1;
  /* Ensure the blurred version is between the solid ring and the gradient background */
}

.inner-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: grow 1s ease-out infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes grow {
  0% {
    width: 0;
    height: 0;
    opacity: 0.6;
  }

  100% {
    width: 100%;
    /* Use 100% to match the size of the .ring element */
    height: 100%;
    opacity: 0;
  }
}